* {
  box-sizing: border-box;
}

html {
  position: relative;
  font-size: 62.5%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (--desktopXL) {
    font-size: 0.65vw;
  }
}
