<template>
  <div class="basic-info">
    <img src="../assets/jamie.jpg" alt="Jamie's Smiling Face">
    <div class="info content-container">
      <div class="titles">
        <div class="colors">
          <div class="yellow"></div>
          <div class="blue"></div>
        </div>
        <h1>{{ resume.basics.name }}</h1>
        <h3>{{ resume.basics.label }}</h3>
      </div>
      <div class="icons">
        <a href="https://gitlab.com/Spittal" rel=noopener target=_blank>
          <svg class="icon icon-gitlab">
            <use xlink:href="#icon-gitlab"></use>
          </svg>
        </a>
        <a href="https://github.com/Spittal" rel=noopener target=_blank>
          <svg class="icon icon-github">
            <use xlink:href="#icon-github"></use>
          </svg>
        </a>
        <a href="https://www.linkedin.com/in/jamiespittal" rel=noopener target=_blank>
          <svg class="icon icon-linkedin">
            <use xlink:href="#icon-linkedin"></use>
          </svg>
        </a>
      </div>
      <p class="text-container">{{ resume.basics.summary}}</p>
      <div class="showcase">
        <h4>Recent Projects:</h4>
        <div class="projects">
          <a :href="showcase.website" target=_blank rel=noopener class="showcase-card" v-for="showcase in resume.showcase">
            <div class="background" :style="{backgroundImage: 'url(' + showcase.image + ')' }">
              <h4 class="title">{{ showcase.title }}</h4>
            </div>
            <div class="summary">{{ showcase.summary }}</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'basic-info',
  props: ['resume']
}
</script>

<style scoped>
@import 'shared/style-base';

:root {
  --blockHeight: 15rem;
  --blockDesktopHeight: 17rem;
}

.basic-info {
  @apply --basicTags;

  display: flex;
  flex-flow: column;
  padding: var(--spacingMd) 0;
  background-color: var(--colorLightGrey);

  & .titles {
    position: relative;
    text-align: center;
    z-index: 1;

    & .colors {
      width: 75vw;
      height: calc(var(--blockHeight) + calc(var(--blockHeight) / 2));
      margin: 0 auto;

      @media (--desktop) {
        height: calc(var(--blockDesktopHeight) + calc(var(--blockDesktopHeight) / 2));
      }

      & .blue {
        position: absolute;
        top: 0;
        right: 0;
        width: 50vw;
        height: var(--blockHeight);
        background-color: var(--colorPrimary);
        mix-blend-mode: multiply;

        @media (--desktop) {
          width: 75rem;
          height: var(--blockDesktopHeight);
        }
      }

      & .yellow {
        position: absolute;
        width: 50vw;
        height: var(--blockHeight);
        top: calc(var(--blockHeight) / 2);
        background-color: var(--colorAccent);
        left: 0;

        @media (--desktop) {
          width: 75rem;
          height: var(--blockDesktopHeight);
          top: calc(var(--blockDesktopHeight) / 2);
        }
      }
    }

    & h1 {
      position: absolute;
      top: var(--spacingSm);
      right: var(--spacingMd);
      margin: 0;
      color: var(--colorDarkerGrey);

      @media (--desktop) {
        width: 100%;
        text-align: center;
        left: 0;
      }
    }

    & h3 {
      position: absolute;
      margin: 0;
      bottom: var(--spacingSm);
      left: var(--spacingMd);
      color: var(--colorDarkerGrey);

      @media (--desktop) {
        width: 100%;
        text-align: center;
        left: 0;
      }
    }
  }

  & .icons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: var(--spacingMd) 0;
    padding-bottom: 0;

    & svg {
      width: 4rem;
      height: 4rem;
      fill: var(--colorDarkGrey);
      stroke-width: 0.05rem;
      stroke: var(--colorBlack);
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      cursor: pointer;
      transition: fill 0.3s ease, stroke-dashoffset 1s ease;

      &:hover {
        fill: var(--colorAccent);
        stroke-dashoffset: 0;
      }
    }
  }

  & img {
    width: 100%;
    height: auto;
    max-width: 75rem;
    margin: 0 auto;
  }

  & .info {
    text-align: center;
  }

  & .text-container {
    position: relative;
    padding: var(--spacingMd) 0;
  }

  & .showcase {
    text-align: left;

    & .projects {
      @media (--desktop) {
        display: flex;
        justify-content: space-between;

        & .showcase-card {
          flex: 0 0 48%;
        }
      }
    }


     & .showcase-card {
      text-decoration: none;
      display: block;
      margin-bottom: var(--spacingMd);

      & .background {
        position: relative;
        min-height: 20rem;
        background-position: center;
        background-size: cover;
        margin-bottom: var(--spacingSm);

        & .title {
          position: absolute;
          background-color: var(--colorWhite);
          padding: calc(var(--spacingSm) / 3);
          bottom: 0;
          left: 0;
          margin: 0;
        }
      }
    }
  }

  & p {
    text-align: justify;
  }
}
</style>
