<template>
  <div class="bentobox" v-if="bentobox">
    <div class="background">
      <div class="content-container">
        <small>{{ bentobox.position }} / {{ bentobox.startDate }} - {{ bentobox.endDate }}</small>
        <h1>{{ bentobox.company }} </h1>
        <p class="bottom">
          {{ bentobox.summary }}
          <a class="visit" :href="bentobox.website" rel=noopener target=_blank>Visit The Site</a>
        </p>
      </div>
    </div>
    <div class="highlight-container">
      <div class="content-container highlight-title">
        <h3>Highlights</h3>
      </div>
      <div class="content-container grid highlights">
        <highlight-grid :color="'#ffffff'" :highlights="bentobox.highlights"></highlight-grid>
      </div>
    </div>
  </div>
</template>

<script>
import HighlightGrid from './HighlightGrid'

export default {
  name: 'bentobox',
  props: ['bentobox'],
  components: {
    HighlightGrid
  }
}
</script>

<style scoped>
@import 'shared/style-base';

.bentobox {
  @apply --basicTags;
}

.background {
  background: url('../assets/bentobox.jpg') center center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: var(--colorBentobox);
  min-height: 50rem;
  padding: var(--spacingMd) 0;

  @media (--tablet) {
    background-size: 60%
  }

  @media (--desktop) {
    background-position: 125% 30%;
    height: 40rem;
  }

  & small,
  & h1,
  & p {
    color: var(--colorWhite);
  }

  & .bottom {
    position: relative;
    top: 25rem;

    @media (--desktop) {
      top: -4rem;
    }

    & .visit {
      display: block;
      color: var(--colorWhite);
      margin-top: var(--spacingSm);
    }
  }

  & .content-container {
    @media (--desktop) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
    }
  }


}
.highlight-container {
  background-color: var(--colorBentobox);
  color: var(--colorWhite);
  padding: var(--spacingMd) 0;

  & .highlight-title h3 {
    color: var(--colorWhite);
    margin: 0;
  }

  & li {
    color: var(--colorWhite);
  }
}
</style>
