<template>
  <div class="closefox">
    <div class="background">
      <div class="content-container">
        <small>{{ closefox.position }} / {{ closefox.startDate }} - {{ closefox.endDate }}</small>
        <h1>{{ closefox.company }} </h1>
        <p>{{ closefox.summary }}</p>
        <a class="visit" :href="closefox.website" rel=noopener target=_blank>Visit The Site</a>
        <h3>Highlights</h3>
      </div>
      <div class="content-container grid highlights">
        <highlight-grid :color="'#ffffff'" :highlights="closefox.highlights"></highlight-grid>
      </div>
    </div>
  </div>
</template>

<script>
import HighlightGrid from './HighlightGrid'

export default {
  props: ['closefox'],
  components: {
    HighlightGrid
  }
}
</script>

<style scoped>
@import 'shared/style-base';

.closefox {
  @apply --basicTags;

  & .background {
    background-image: url('../assets/closefox.svg');
    background-repeat: no-repeat;
    background-color: var(--colorClosefox);
    background-position: left bottom;
    background-size: 20rem;
    min-height: 50rem;
    padding: var(--spacingMd) 0 20rem 0;
  }

  & small,
  & h1,
  & h3,
  & p {
    color: var(--colorWhite);
  }

  & h3 {
    margin-bottom: 0;
  }

  & .visit {
    display: block;
    color: var(--colorWhite);
  }
}
</style>
