<template>
  <ul class="highlight-list">
      <li :style="{'color': color }" v-for="(highlight, index) of highlights">
        <h4 v-if="highlightTitles" class="highlight-title">{{ highlightTitles[index] }}</h4>
        {{ highlight }}
      </li>
    </ul>
</template>

<script>
export default {
  props: ['highlights', 'highlightTitles', 'color']
}
</script>

<style scoped>
@import 'shared/style-base';

.highlight-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;

  & li {
    display: inline-block;
    flex: 0 0 100%;
    padding: 0 var(--spacingSm);
    margin: var(--spacingSm) 0;

    @media (--tablet) {
      flex: 0 0 50%;

      &:last-child {
        margin-right: auto;
      }
    }

    @media (--desktop) {
      flex: 0 0 33%;
    }

    & h4 {
      @apply --highlightTitle;

      &::after {
        background-color: var(--colorSkyrocket);
      }
    }

    & h4:first-child {
      margin-top: 0;
    }
  }
}
</style>
