<template>
  <div class="skyrocket">
    <div class="skyrocket-background">
      <div class="content-container">
        <small>{{ skyrocket.position }} / {{ skyrocket.startDate }} - {{ skyrocket.endDate }}</small>
        <h1>SKYROCKET<br>DIGITAL</h1>
        <h3>{{ skyrocket.summary }}</h3>
        <a class="visit" :href="skyrocket.website" rel=noopener target=_blank>Visit The Site</a>
      </div>
    </div>
    <div class="content-container grid">
      <highlight-grid :highlights="skyrocket.highlights" :highlightTitles="skyrocket.highlightTitles"></highlight-grid>
    </div>
  </div>
</template>

<script>
import HighlightGrid from './HighlightGrid'

export default {
  name: 'skyrocket',
  props: ['skyrocket'],
  components: {
    HighlightGrid
  }
}
</script>

<style scoped>
@import 'shared/style-base';

.skyrocket {
  @apply --basicTags;

  & .skyrocket-background {
    position: relative;
    background: url('../assets/skyrocket.jpg') center center;
    background-size: cover;
    padding: var(--spacingMd) 0;


    & h1,
    & h3,
    & .visit,
    & small {
      position: relative;
      margin: 0;
      width: 100%;
      font-family: var(--fontSansSerif);
      color: red;
      font-weight: bold;
      mix-blend-mode: screen;
      padding: 0;
      line-height: 0.8;
    }

    & .visit {
      display: inline-block;
      width: auto;
      margin-top: var(--spacingSm);
    }

    & small {
      display: block;
      margin-bottom: var(--spacingSm);
    }
  }
}
</style>
