<template>
  <div id="app" v-if="resume">
    <icons></icons>
    <basic-info :resume="resume"></basic-info>
    <skyrocket :skyrocket="resume.work[0]"></skyrocket>
    <bentobox :bentobox="resume.work[1]"></bentobox>
    <closefox :closefox="resume.work[2]"></closefox>
    <footer><a href="/resume" target=_blank>View My Resume</a> <span>or</span> <a href="mailto:jamie@jamiespittal.com">Email Me</a></footer>
  </div>
</template>

<script>
import BasicInfo from './components/BasicInfo'
import Skyrocket from './components/Skyrocket'
import Bentobox from './components/Bentobox'
import Closefox from './components/Closefox'
import Icons from './core/Icons'

export default {
  name: 'app',
  beforeCreate () {
    fetch('/static/resume.json').then(req => req.json())
      .then(data => {
        this.resume = data
        console.log('Here\'s my resume in JSON if you\'d like')
        console.log(JSON.parse(JSON.stringify(this.resume)))
      })
  },
  data () {
    return {
      resume: null
    }
  },
  components: {
    BasicInfo,
    Skyrocket,
    Bentobox,
    Closefox,
    Icons
  }
}
</script>

<style>
@import 'core/style-theme';

footer {
  @apply --basicTags;

  padding: var(--spacingSm) 0;
  background-color: var(--colorLightGrey);
  display: flex !important;
  flex-direction: column;
  align-items: center;

  & a {
    display: inline-block;
    text-align: center;
    font-size: 3rem;
    color: var(--colorPrimary);
  }
}
</style>
