:root {
  --anchorStyle: {
    position: relative;
    font-family: var(--fontMono);
    font-size: 1.6rem;
    font-weight: 700;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    transition: 0.2s ease all;
    cursor: pointer;
    color: var(--colorDarkerGrey);
  }
}
