:root {
  /* Application Colors */
  --colorPrimary: #00a7f6;
  --colorAccent: #f6ca00;
  --colorSkyrocket: #e72249;
  --colorBentobox: #1e1e1e;
  --colorClosefox: #1C915B;

  /* Shades */
  --colorBlack: #000000;
  --colorDarkerGrey: #444444;
  --colorDarkGrey: #666666;
  --colorGrey: #979797;
  --colorLightGrey: #E8E8E8;
  --colorWhite: #ffffff;

  /* Alert Colors */
  --colorSuccess: #4caf50;
  --colorWarning: #ffc107;
  --colorError: #f44336;

  /* Transparent Colors */
  --colorTransparent: #00000000;
}
