/*
   IMPORTANT: since the @custom-media can't accept a variable inside of it
   if you change the breakpoint you need to update it in both
   locations.
*/

:root {
  --phoneWidth: 350px;
  --tabletWidth: 600px;
  --desktopWidth: 900px;
  --desktopXLWidth: 1600px;
}

/* Phone (mobile first so no @phone rule) */
@custom-media --notPhone (width >= 350px);

/* Tablet */
@custom-media --tablet (width >= 600px);
@custom-media --notTablet (width < 600px) and (width >= 900px);

/* Desktop */
@custom-media --desktop (width >= 900px);
@custom-media --notDesktop (width < 900px) and (width >= 1500px);

/* DesktopXL */
@custom-media --desktopXL (width >= 1600px);
@custom-media --notDesktopXL (width < 1600px);

/* Aspect Ratios */
@custom-media --minAspect (min-aspect-ratio: 16/9);
@custom-media --maxAspect (max-aspect-ratio: 16/9);
