:root {
  --fontMono:
    monospace;

  --fontSansSerif:
    roboto,
    helvetica,
    arial,
    sans-serif;

  --header1: {
    font-size: 4rem;
    font-family: var(--fontMono);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: normal;
    color: var(--colorDarkerGrey);
    margin: var(--spacingMd) 0;

    @media (--desktop) {
      font-size: 6rem;
    }
  }

  --header2: {
    font-size: 4rem;
    font-family: var(--fontMono);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.15;
    letter-spacing: 0.05rrem;
    color: var(--colorDarkerGrey);
    margin: var(--spacingMd) 0;

    @media (--desktop) {
      font-size: 5rem;
    }
  }

  --header3: {
    font-size: 3rem;
    font-family: var(--fontMono);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.12;
    letter-spacing: 0.04rrem;
    color: var(--colorDarkerGrey);
    margin: var(--spacingMd) 0;

    @media (--desktop) {
      font-size: 4rem;
    }
  }

  --header4: {
    font-size: 2rem;
    font-family: var(--fontMono);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: 0.03rrem;
    color: var(--colorDarkGrey);
    margin: var(--spacingMd) 0;

    @media (--desktop) {
      font-size: 3rem;
    }
  }

  --header5: {
    font-size: 1.6rem;
    font-family: var(--fontMono);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: var(--colorDarkGrey);
    margin: var(--spacingMd) 0;

    @media (--desktop) {
      font-size: 1.8rem;
    }
  }

  --header6: {
    font-size: 1rem;
    font-family: var(--fontMono);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.19;
    letter-spacing: normal;
    color: var(--colorDarkerGrey);
    margin: var(--spacingMd) 0;

    @media (--desktop) {
      font-size: 1.5rem;
    }
  }


  /* *************
       Others
  ************* */

  --body: {
    font-size: 1.6rem;
    font-family: var(--fontSansSerif);
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--colorDarkerGrey);

    @media (--desktop) {
      font-size: 1.6rem;
    }
  }

  --highlightTitle: {
    @apply --header2;

    position: relative;

    &::after {
      position: absolute;
      display: block;
      content: '';
      bottom: -1rem;
      left: 0%;
      width: 15%;
      height: 0.5rem;
      background-color: var(--colorPrimary);
      z-index: -1;
      mix-blend-mode: color-burn;
    }
  }
}
