:root {
  --ncmp: {
    &>:first-child {
      margin-top: 0 !important;
      padding-top: 0 !important;
    }

    &>:last-child {
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
    }
  }

  --basicTags: {
    & h1 {
      @apply --header1;
    }

    & h2 {
      @apply --header2;
    }

    & h3 {
      @apply --header3;
    }

    & h4 {
      @apply --header4;
    }

    & h5 {
      @apply --header5;
    }

    & h6 {
      @apply --header6;
    }

    & p, & span, & div {
      @apply --body;
    }

    & a {
      @apply --anchorStyle;
    }
  }
}
